name: Main Test-Java17

on: [ push, pull_request ]

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mcversion: [ "1.18", "1.18.1", "1.18.2", "1.19", "1.19.1", "1.19.2", "1.19.3", "1.19.4", "1.20", "1.20.1" ]
        javaversion: [ "17" ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.javaversion }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.javaversion }}
          distribution: 'adopt'

      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Test
        uses: ./
        with:
          plugin-name: CheckPluginEnabling
          minecraft-version: ${{ matrix.mcversion }}
